/*For now i don't know if we will be using the same css file for all three pages
    or we will have different css files for each page.
    let me know your thoughts. 
*/

@font-face {
    font-family: 'nosifer';
    src: url(../fonts/NosiferCaps-Regular.ttf) format('truetype');
}

* {

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html,
#mainBody,
#aboutBody,
#contactBody {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;

}


/* This portion of css is for the home page */



#mainBody {
    background-image: url('../Media/homeBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*i am making the body height 3000px just until the whole page is done just for
    scrollability maybe*/

    background-attachment: fixed;

}

#Website-Header {
    /*order-bottom:1px solid black;*/
    background: transparent;
    height: 15%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.4s ease, box-shadow 0.4s ease;
    margin-top: -1%;
    z-index: 4;
}

#Website-Header.scrolled {
    z-index: 4;
    background: #fafafa;
    margin-top: -1%;
    border-bottom: 1px solid #9da0b6
}


#Website-Header::after {
    z-index: 4;
    content: "";
    position: absolute;
    bottom: 0;
    left: 12%;
    width: 75%;
    border-bottom: 1px solid black;
    transition: background 0.4s ease, box-shadow 0.4s ease;
}

#Website-Header.scrolled::after {
    z-index: 4;
    border-bottom: none;
}

#Website-Header h1 {
    font-family: "nosifer";
    color: #1E3A5F;
    font-size: 2rem;
    margin-left: -25%;
    z-index: 4;
}

#imageIconContainer {
    z-index: 4;
    width: 6%;
    height: 70%;
    background-image: url('../Media/bannerImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 2%;
}

.navButtonsContainer {
    position: relative;
    display: flex;
    width: 30%;
    height: 30%;
    background: white;
    border-radius: 20px;
    justify-content: space-evenly;
    margin-right: 5%;
    align-items: center;

}

#navContainer.scrolled {
    border: 1px solid #ac8f8f
}

.navButtonsContainer a {
    text-decoration: none;
    color: black;

}

.navButtonsContainer a p {
    font-family: 'poppins', sans-serif;
    display: flex;
    align-items: center;
}

.navButtonsContainer a p:hover {
    border-bottom: 2px solid #da2c2c;
}

main {

    width: 100%;
    color: #212529;

}

#landingPageBox {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    padding: 0;
}

.landingPageMain {
    background-image: url('../Media/landingPageImage2.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;

}

.landingPageMain::before {
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    /* semi-black overlay */
}

#landingCall {
    background: transparent;
    text-align: center;
    color: #eaeaea;
    font-family: 'poppins', sans-serif;
    ;
    z-index: 1;

}

#landingCall h1 {
    font-size: 4rem;
}

#landingCall p {
    font-size: 1.2rem;
}

#quickAboutSection {
    width: 100%;
    height: 125vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

#quickAbout {
    width: 95vw;
    height: 110vh;
    border-radius: 0.5rem;
    background-color: #193742;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
}

#quickAbout div {
    width: 45%;
    height: 75%;
    margin: auto;
    text-align: justify;
}

#quickAbouth1 {
    font-size: 1.2rem;
    margin-bottom: 10%;
    color: rgb(247, 240, 240);
}

#quickAbouth2 {
    font-size: 2rem;
    margin-top: -5%;
    color: rgb(112, 124, 17);
}

#quickAboutp {
    font-size: 1.1rem;
    text-align: justify;
    color: #e3dbdb;
    line-height: 140%
}

#quickAboutReadMore {
    text-decoration: none;

}

#quickAboutReadMore div {
    margin-top: 15%;
    margin-left: 0%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    border-radius: 0.5rem;
    border: 3px solid white;
    width: 30%;
    height: 10%;
}

#quickAboutReadMore div:hover {
    margin-top: 15%;
    margin-left: 0%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(204, 220, 61);
    border-radius: 0.5rem;
    border: 3px solid rgb(204, 220, 61);
    width: 30%;
    height: 10%;
}

#quickAboutImage {

    background-image: url('../Media/newQuickAboutImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;

}

#ourServices {
    background-color: #dddce8;
    height: 130vh;
    width: 100%;
    padding-top: 5%;
}

#ourServices h1 {
    text-align: center;
    color: rgb(37, 75, 136);
    font-size:1.5rem;
}

#ourServices h2 {
     text-align: center;
    color: rgb(14, 37, 72);
    font-size:1.8rem;
    margin-top:-0.5%;
}

#servicesBoxes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    align-items: center;
}

#servicesBoxesBoxes {
    width: 23%;
    height: 70%;
}

#servicesImages {
    width: 100%;
    height: 50%;
}

.consultancyImage {
    background-image: url('../Media/consultancyImage.jpg');
    background-size: cover;
    background-position: center;
}
.winterHolidayTripsImage {
    background-image: url('../Media/servicesImage2.jpg');
    background-size: cover;
    background-position: center;
  
}
.plannedFunActivities {
    background-image:url('../Media/servicesImage3.jpg');
    background-size: cover;
    background-position: center;
}
.hoterBookings {
    background-image: url('../Media/servicesImages4.jpg');
    background-size: cover;
    background-position: center;
}

#countriesWeVisit{
    background:#97b993;
    font-family:'poppins';
    margin:0;
    padding-top:3%;
    width:100%;
    height:200vh;
}
#countriesWeVisitHeading{
    height:20%;
}

#countriesWeVisitHeading h1 {
    text-align:center;
    font-size:1.4rem;
    color:#a61e1e;
}
#countriesWeVisitHeading h2 {
    text-align:center;
    font-size:1rem;
    color:#5d5b5b;
    width:80%;
    margin:auto;
 
}

#countriesMainBox{
    margin-top:-8%;
    width:100%;
    height:70%;
}
#countriesh2s{
    font-size:1.2rem;
    color:#de1212;
    font-weight:bold;
    margin-left:4%;
    margin-top:5%;
}
.countriesBoxes{
    display:flex;
    justify-content:space-evenly;
    align-items:center;

}
.countryContainer{
    width:15%;
    height:30vh;
    border-radius:8px;
    position:relative;
    color:white;
    font-size:1rem;
    font-family:sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bolder;
}

.countryContainer p{
    z-index:1;
}

.countryContainer::before{
    content:"";
    position: absolute;
    z-index: 0;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius:8px;
}

#switzerland{
    background-image: url('../Media/switzerLand.jpg');
    background-size: cover;
    background-position: center;
}
#canada{
    background-image: url('../Media/canada.jpg');
    background-size: cover;
    background-position: center;
}
#austria{
    background-image: url('../Media/austria.jpg');
    background-size: cover;
    background-position: center;
}
#norway{
    background-image: url('../Media/norway.jpg');
    background-size: cover;
    background-position: center;    
}
#finland{
    background-image: url('../Media/finland.jpg');
    background-size: cover;
    background-position: center;    
} 
#iceland{
    background-image: url('../Media/iceland.jpg');
    background-size: cover;
    background-position: center;    
} 
#czechRepublic{
    background-image: url('../Media/czech.jpg');
    background-size: cover;
    background-position: center;    
}
#japan{
    background-image: url('../Media/japan.jpg');
    background-size: cover;
    background-position: center;    
}
#france{
    background-image: url('../Media/france.jpg');
    background-size: cover;
    background-position: center;
}
#germany{
    background-image: url('../Media/germany.jpg');
    background-size: cover;
    background-position: center;    
}
#slovenia{
    background-image: url('../Media/slovenia.jpg');
    background-size: cover;
    background-position: center;    
}
#poland{
    background-image: url('../Media/poland.jpg');
    background-size: cover;
    background-position: center;    
}
#sweeden{
    background-image: url('../Media/sweeden.jpg');
    background-size: cover;
    background-position: center;    
}
#newZealand{
    background-image: url('../Media/newZealand.jpg');
    background-size: cover;
    background-position: center;   
     
}
#usa{
    background-image: url('../Media/usa.jpg');
    background-size: cover;
    background-position: center;    
}
#countriesWeVisit button{
    width:10%;
    height:3.2%;
    margin-left:4%;
    border-radius:6px;
    transition: all 0.7s ease;
    border:1px solid rgb(80, 55, 55);
}
#countriesWeVisit button:hover{
    width:18%;
    height:3.2%;
    margin-left:4%;
    cursor:pointer;
    background:#9b8787;


}
footer {
    background-color: #0a1b31;
    height: 82vh;
    font-family: "cinzel";

}

footer #topFooter {
    width: 100%;
    height: 70%;
    background: transparent;
    display: flex;
    justify-content: flex-start;
}

footer #topFooter div {

    width: 32.34%;
    height: 70%;
    margin: auto;
    padding-left: 20px;
    font-family: "cinzel";
    color: #fafafa;
}


footer #topFooter #footerLogo {
    border: 5px solid white;
    width: 70%;
    height: 40%;
    display: flex;
    font-family: 'nosifer';
    margin-top: 80px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 26.5px;
}




footer #topFooter #footer2 {
    display: flex;

}

footer #topFooter #footer2 div {
    margin-top: 20px;
    height: 85%;
    width: 47%;

}



footer #topFooter #footer2 #siteMap div {
    height: 30px;
    margin-left: -17px;
    text-align: left;

}

footer #topFooter #footer2 #socials div {
    height: 30px;
    margin-left: -17px;
    text-align: left;

}

#footer2 #siteMap div a,
#footer2 #socials div a {
    text-decoration: none;
    color: #fafafa;
}

#footer2 .socialIcons {
    width: 200px;
    height: 30px;
    margin-right: 50px;
}

#footerEmail {
    background: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
}

#footerDivider {
    width: 70%;
    background: #fafafa;
    height: 0.1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

footer #lowerFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 140px;
    color: white;

}

footer #lowerFooter #copyrightContainer {
    width: 50%;
    height: 60%;
    margin-top: 40px;
    padding-left: 20px;
    width: 65%
}

footer #lowerFoter #privacyPolicy {
    width: 50%;
}




/*This portion of css is for the about page*/


#aboutBody {
    background-image: url('../Media/aboutBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;



}

#aboutLandingPage {
    height: 1000px;
    width: 100%;
    background-image: url('../Media/aboutBanner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

#whoIsLucas {
    height: 800px;
    width: 100%;
    background: #fafafa;
    display: flex;
    justify-content: space-evenly;
}

#aboutLucas {
    background: #dfd6d6;
    width: 60%;
    height: inherit;
}

#lucasImageContainer {

    width: 60%;
    height: inherit;

}

#lucasImage {
    background-image: url('../Media/lucasSnowImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -90px;
    height: 500px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 100px auto;
    width: 500px;
    background-color: #f5f0f0;

}

.LucasHeading {
    text-align: center;
    color: black;
    margin-bottom: 10px;


}


/*this portion of css code is for the contact page*/

#contactBody {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
}



#contactDiv {

    background-image: url('../Media/contactBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 180vh;
    width: 100%;
    font-family: 'Poppins';
    display: flex;



}



#contactBox {
    margin-top: 8%;
    padding-top: -2%;
    margin-left: auto;
    width: 60%;
    height: 90%;
    background-color: transparent;
    border-radius: 20px;
    padding-left: 2%;
}

#contactDiv #contactBox h1 {
    text-align: left;
    color: rgb(70, 63, 95);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
}

form label {
    margin-top: 3%;
    margin-bottom: 3%;
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'poppins';


}

form input {
    width: 42%;
    height: 5.5vh;
    border: 1px solid rgb(70, 63, 95);
    border-radius: 10px;

}

form select {
    width: 41%;
    border-radius: 10px;
    height: 5.5vh;
}

#contactNameInput {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 50px;
    flex-direction: row;

}

#submitForm #address1,
#submitForm #address2,
#submitForm #address3 {
    width: 90%;
    margin-bottom: 2%;
    border-radius: 10px;

}

#countryZip {
    display: flex;
    justify-content: flex-start;
    column-gap: 54px;
}

#phoneEmail {
    display: flex;
    justify-content: space-evenly;
    height: 15vh;
    width: 90%;
    margin-top: 1%;

}

#phoneEmail div {
   
    width: 50%;

}

#phoneEmail div input {
    width: 85%;
    
}

#emailCollection {
    padding-left: 3.5%;
}


#comments {
    width: 75%;
    height: 200px;

}

#contactSubmit {
    width: 150px;
    height: 55px;
    background-color: #eaeaea;
    font-family: 'poppins';
    margin-top: 40px;
    border-radius: 7px;
    text-align: center;
}

#contactSubmit:hover {
    background-color: #c6c6c6;
    cursor: pointer;
}